// VARS
$font-face: "Inter", sans-serif;
$white-border: 1px solid #eeeeee;
$white-bg: #fdfdfd;

// COLORS
$black: black;
$dark-gray: #727272;
$gray: #f8f8f8;
$blue: #6692da;

$mobile-width: 50rem;
$desktop-width: 60rem;

$small-font: 1.2rem;
$medium-font: 1.3rem;

$no-top: 0px 1px 1px 1px;
$no-right: 1px 0px 1px 1px;
$no-left: 1px 1px 1px 0px;
$no-bottom: 1px 1px 0px 1px;

$no-bottom-no-right: 1px 0px 0px 1px;
$no-bottom-no-left: 1px 1px 0px 0px;
$no-bottom-no-top: 0px 1px 0px 1px;

$all-radii: 1% 1% 1% 1%;
// Curved borders for only the left side of the borders.
$left-radii: 1% 0% 0% 1%;
$right-radii: 0% 1% 1% 0%;
$top-radii: 1% 1% 0% 0%;
$bottom-radii: 0% 0% 1% 1%;

$top-left-radii: 1% 0% 0% 0%;
$top-right-radii: 0% 1% 0% 0%;

@mixin bg {
	background-color: $white-bg;
}

@mixin border($width: 1px, $radii: 0) {
	border-color: $gray;
	border-style: solid;
	border-width: $width;
	box-shadow: 0 0 2px rgb(198, 194, 194);
	border-radius: $radii;
}

@mixin flex(
	$dir: row,
	$align-i: normal,
	$align-c: normal,
	$align-s: normal,
	$wrap: nowrap,
	$justify-c: normal
) {
	display: flex;
	flex-direction: $dir;
	align-items: $align-i;
	align-content: $align-c;
	align-self: $align-s;
	flex-wrap: $wrap;
	justify-content: $justify-c;
}

// EXTENSIONS
%title {
	@include bg;
	padding: 50px;
	flex: 8;
}

%info {
	@include flex($dir: column, $align-i: center);
	@include bg;
	flex: 4;
	padding: 50px;
}
