@use "base" as *;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
	font-family: $font-face;
	background-color: $gray;
}

main {
	@media (min-width: 769px) {
		padding-top: 100px;
	}

	@media (max-width: 768px) {
		padding-top: 50px;
	}
}

a {
	color: $blue;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: $black;
}

img {
	opacity: 0.7;
	transition: 0.4s;
}

img:hover {
	opacity: 1;
}

// NAVBAR
nav {
	@include bg;
	@include border;
	padding: 0;
	font-size: $small-font;
}

.navbar {
	padding: 0;
}

.navbar-nav {
	padding: 0 50px;
	gap: 20px;
}

.navbar-toggler {
	border: none;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	color: $black;
}

// TEXT
.subtitle {
	color: $dark-gray;
}

.h1-title {
	margin-bottom: 2rem;
}

// MAIN CONTAINER
.container {
	padding: 0;

	@media (min-width: 769px) {
		width: $desktop-width;
	}
}

// MAIN CONTAINER BORDERS
.container-border {
	display: flex;
	@include bg;

	@media (min-width: 769px) {
		justify-content: space-between;
		border-radius: 1%;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.title {
	@extend %title;
	@include flex($wrap: wrap, $align-c: center);

	@media (min-width: 769px) {
		@include border($width: $no-right, $radii: $left-radii);
	}

	@media (max-width: 768px) {
		@include border($width: $no-bottom, $radii: $top-radii);
	}
}

.title-top-left {
	@extend %title;
	@media (min-width: 769px) {
		@include border($width: $no-bottom-no-right, $radii: $top-left-radii);
	}

	@media (max-width: 768px) {
		@include border($width: $no-bottom, $radii: $top-radii);
	}
}

.title-top {
	@extend %title;
	@include border($width: $no-bottom, $radii: $top-radii);
}

.title-bottom {
	@extend %title;
	@include border($width: $no-top, $radii: $bottom-radii);
}

.info {
	@extend %info;
	@media (min-width: 769px) {
		@include border($width: $no-left, $radii: $right-radii);
	}
	@media (max-width: 768px) {
		@include border($width: $no-top, $radii: $bottom-radii);
	}
}

.info-top {
	@extend %info;
	@media (min-width: 769px) {
		@include border($width: $no-bottom-no-left, $radii: $top-right-radii);
	}
	@media (max-width: 768px) {
		@include border($width: $no-bottom-no-top);
	}
}

.info-caption {
	@include flex($dir: column, $align-i: center);
	padding: 10px;
}

.row-icons {
	@include bg;
	@include border($radii: all-radii);
	@include flex($justify-c: center, $align-s: stretch);

	i {
		padding: 5px 10px;
		margin: 10px;
	}
}

// PROJECTS
.project {
	@media (min-width: 769px) {
		@include flex($align-i: center);
		gap: 50px;
	}

	.project-caption {
		@media (max-width: 768px) {
			margin: 25px 0;
		}
	}
}

.project-img {
	@include img-fluid;
	@media (min-width: 769px) {
		max-width: 20rem;
	}
}

// FOOTER

.footer {
	@include flex($dir: column, $align-i: center);
	color: $black;
	padding-top: 70px;
	padding-bottom: 40px;
	font-size: $medium-font;
}

.footer-info {
	@include flex($justify-c: center);
	gap: 20px;
}
