@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
	margin: 0;
}

/* general styles */
body {
    font-family: 'Nunito', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

/* header */
/* dot represents a class - something we make to group things */

header {
    background: #67b99a;
    /* top right bottom left */
    padding: 1%;
}

.nav { 
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__list {
    list-style: none;
    
}

.nav__item {
    color: white;
    display: inline-block;
    font-size: 1.6em;
    margin-left: .5%;
    margin-right: .5%;
    /* top, bottom and right, left */
    /* padding: .8% 2%; 
    border-radius: 5%; */
    
}

.nav__link {
    color: inherit;
    text-decoration: none;
}

.nav__link:hover {
    color: #095256;
}

.nav__active {
    color: #095256;
}

/* intro section */
.intro {
    margin: auto;
    margin-top: 3%;   
    width: 40%;
}

.section__title.section__title--intro {
    text-align: center;
    padding-top: 10%;
}

.section__subtitle.section__subtitle--intro {
    text-align: center;
}

.pfp {
    width: 35%;
    float: left;
}


/* about me */
.about-me {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.section__title.section__title--about {
    text-align: center;
    margin-bottom: 2%;
}

/* projects */

.my-projects {
    margin: auto;
    margin-top: 2%;
    width: 60%;
}

.section__title {
    text-align: center;
    margin-bottom: 2%;
}

.portfolio__list {
    list-style: none;
}

.portfolio__item {
    clear: left;
    
}

.portfolio__img {
    width: 30%;
    float: left;
    margin: 4%;
    margin-left: 15%;
}

.portfolio__img:hover {
    filter: brightness(80%);
}

.portfolio-desc {
    margin-left: 45%;
    width: 40%;
    padding: 8%;
}


/* contact */

.contact-form {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 40%;
}

input[type=text], select, textarea {
    width: 100%;
    resize: vertical;
    clear: both;
}

.social-list {
    list-style: none;
    margin: 0 auto;
    padding-left: 33%;
}

.social-list__item {
    width: 15%;
    margin-right: 2%;
    display: inline-block;
}